<div class="backdrop">
  <div id="main"></div>

  <script type="text/javascript">
  $(document).ready(function(){
    var $rootEl = $('#main');
    TrelloClone.initialize($rootEl);
    Backbone.history.start();
  });
  </script>
</div>
