<form>
  <label for="title">Title</label><br>
  <input type="text" name="post[title]" value="<%= post.title %>" id="title"><br>

  <label for="body">Body</label><br>
  <textarea name="post[body]" id="body" cols="30" rows="10"></textarea>
  <button>submit</button>
</form>
