/* PHASE 2: Navigation */

.header-logo {
  float: left;
  font-weight: bold;
  border-right: thin solid #eee;
}

.header-logo:hover {
  background: black;
}

.header-list {
  float: right;
}

.header-list > li {
  float: left;
  border-left: thin solid #eee;
}

.header-list > li:hover {
  background: black;
}
